# Arquivo de variáveis de ambiente
.env
.streamlit/secrets.toml

# Ambientes virtuais
venv/
env/

# Arquivos compilados Python
*.pyc
__pycache__/

# Configurações do VSCode
.vscode/

# Arquivos de log
*.log

# Arquivos de cache
*.cache

# Arquivos do Windows
Thumbs.db

# Outros arquivos temporários ou de build
*.tmp
*.bak

